:root {
  /* primary */

  --primary-contrast-color: #424242;
  --primary-link-color: #f65261;
  --primary-font-color: #fff;

  /* secondary */

  --secondary-contrast-color: #2d3746;
  --secondary-dark-color: #cad7e1;

  /* text */

  --text-primary-color: #555;
  --text-secondary-color: #888;

  /* background */

  --primary-background-color: #555;
  --secondary-background-color: #232323;
  --black-background-color: #191919;
  --box-shadow-color: #e4e5e9;
  --border-color: #ccd7e0;
  --dropdown-hover: #f3f7cc;

  /* error */

  /* disabled */

  --disabled-color: #beccd8;
}
