.list {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 140px;
  grid-auto-rows: 400px;
}

.container {
  padding: 1rem 5rem;
  margin-bottom: 4rem;
  width: 100%;

  & span {
    font-size: 20px;
    color: var(--primary-font-color);
    cursor: default;
  }
}
