@import './styles/colors.css';

:global(*) {
  box-sizing: border-box;
}

:global(*::before) {
  box-sizing: border-box;
}

:global(*::after) {
  box-sizing: border-box;
}

:global(html) {
  background-color: var(--primary-contrast-color);
  color: var(--text-primary-color);
  font-family: var(--main-font-family);
  font-size: 16px;
}

* {
  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 3px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px var(--secondary-dark-color);
    border: solid 3px transparent;
  }
}
