.layout {
  width: 100%;
  position: relative;
  padding-top: 0.5rem;
}

.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  background-color: var(--primary-contrast-color);
  border-radius: 2px;
}

.dropdownOpen {
  display: block;
}
