.searchBox {
  display: flex;
  width:80vw;

  & input {
    flex: 1 auto;
    height: 3rem;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    background-color: var(--secondary-contrast-color);
    padding-left: 2rem;
    color: var(--text-primary-color);
  }

  & input:focus {
    border: none;
  }
}

.button {
  background-color: var(--primary-link-color);
  border-radius: 4px;
  margin-left: 0.5rem;
  font-size: 20px;
  padding: 0 2rem;
}
