.modal {
  background-color: var(--black-background-color);
  height: 17rem;
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;

  & svg {
    width: 3rem;
    height: auto;
    align-self: flex-end;
    cursor: pointer;
  }

  & .check {
    align-self: center;
    font-size: 30px;
    background-color: var(--primary-link-color);
    border-radius: 180%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    cursor: default;
  }

  & h1 {
    padding: 0 2rem;
    align-self: center;
    font-weight: 100;
    cursor: default;
  }

  & p {
    align-self: center;
    padding: 1rem 3rem;
    font-size: 22px;
    cursor: default;
  }
}
